/* -------------------- BASIC RULES -------------------- */

/* -------------------- MAIN -------------------- */
.hero {
  background: #c4c4c4;
  padding: 200px 0;
  text-align: center;
}
.hero-img {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-time) var(--attenuation-function);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list {
  flex-wrap: wrap;
  margin-top: 0px;
}

.callback-input {
  width: 100%;
}

.work-description {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--attenuation-function);
}

.work-description-block {
  position: relative;
  overflow: hidden;
}

.gallery-link:hover .work-description,
.gallery-link:focus .work-description {
  transform: translateY(0);
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item + .social-list-item {
  margin-left: 10px;
}
.social-item-icon {
  fill: currentColor;
}
.social-item-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--transition-time)
      var(--attenuation-function),
    color var(--transition-time) var(--attenuation-function);
}

.join .social-item-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 50%;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: var(--margin-text);
}
.benefits-discription {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.benefits-list {
  display: flex;
  margin-left: calc(-1 * var(--margin-calc));
}
.benefits-list > .benefits-item {
  flex-basis: calc(100% / 4 - var(--margin-calc));
  margin-left: var(--margin-calc);
}
.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-calc));
  margin-top: calc(-1 * var(--margin-calc));
}
.activity-list > .activity-item {
  flex-basis: calc(100% / 3 - var(--margin-calc));
  margin-left: var(--margin-calc);
  margin-top: var(--margin-calc);
}
.activity {
  padding-top: 0px;
}

.activity-img {
  margin-right: 0px;
}
.activity-item {
  position: relative;
}

.activity-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 70px;

  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.section-title,
.team-title,
.clients-title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  display: flex;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--transition-time) var(--attenuation-function),
    border var(--transition-time) var(--attenuation-function);
}
.clients-item:not(:last-child) {
  padding-right: 30px;
}
.client-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.gallery-category {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: var(--margin-text);
}
.team-positions {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-list {
  display: flex;
  margin-left: calc(-1 * var(--margin-calc));
  margin-top: calc(-1 * var(--margin-calc));
}
.team-list > .team-item {
  flex-basis: calc(100% / 4 - var(--margin-calc));
  margin-left: var(--margin-calc);
  margin-top: var(--margin-calc);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team {
  background-color: #f5f4fa;
}
.teams {
  padding-top: var(--margin-calc);
  padding-bottom: var(--margin-calc);
  text-align: center;
} /* -------------------- PORTFOLIO GALLERY-------------------- */
.gallery-list {
  display: flex;
  margin-left: calc(-1 * var(--margin-calc));
  margin-top: calc(-1 * var(--margin-calc));
}
.gallery-list > .gallery-item {
  flex-basis: calc(100% / 3 - var(--margin-calc));
  margin-left: var(--margin-calc);
  margin-top: var(--margin-calc);
}
.card-style {
  padding: 20px 24px;
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
} /* -------------------- FOOTER --------------------
*/

.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer-cont {
  display: flex;
  align-items: baseline;
}

.join {
  margin-left: 70px;
  margin-right: 93px;
}
.join-list {
  display: flex;
}
.join-title,
.subscrible-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: (16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-adress:not(:last-child) {
  margin-bottom: 9px;
}

.adress-map {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--transition-time) var(--attenuation-function);
}
.adress-footer {
  margin-top: 20px;
}
.footer-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--attenuation-function);
}
.footer-adress a:hover,
.footer-adress a:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-icon {
  margin-left: 10px;
}
.subscribe-input {
  min-width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.modal-title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.label-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.callback-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  transition: border-color var(--transition-time) var(--attenuation-function);
}
.callback-coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  width: 100%;
  transition: border-color var(--transition-time) var(--attenuation-function);
}

.callback-coment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sign-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sign-check {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.modal-check:checked + .sign-check::before {
  background-image: url(../images/sign.svg);
  background-color: var(--accent-color);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.sign-check::before {
  content: ' ';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
}

.sign-link,
.sign-link:hover,
.sign-link:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

.callback-icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  transition: fill var(--transition-time) var(--attenuation-function);
}

.form-field + .form-field {
  margin-top: 10px;
}

.form-field:focus-within .callback-icon,
.form-field:hover .callback-icon {
  fill: var(--accent-color);
}
.form-field:focus-within .callback-input,
.form-field:hover .callback-input {
  border-color: var(--accent-color);
  outline: none;
}
.form-field:focus-within .callback-coment,
.form-field:hover .callback-coment {
  border-color: var(--accent-color);
  outline: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  color: #000000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  fill: currentColor;
}

.close:hover,
.close:focus {
  color: var(--accent-color);
}
