.activity-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-calc));
  margin-top: calc(-1 * var(--margin-calc));
  .activity-item {
    flex-basis: calc(100% / 3 - var(--margin-calc));
    margin-left: var(--margin-calc);
    margin-top: var(--margin-calc);
  }
}

.activity {
  padding-top: 0px;
  &-img {
    margin-right: 0px;
  }
  &-item {
    position: relative;
  }
}
