.head-white {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.logo-nav > span {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.adress-list .adress-item + .adress-item {
  margin-left: var(--margin-calc);
}
.link {
  padding: 32px 0;
  align-items: center;
  display: flex;
  transition: color var(--transition-time) var(--attenuation-function);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link > .adress-item-icon {
  margin-right: 10px;
  fill: currentColor;
}
.benefit-image {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: var(--margin-calc);
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-list-item + .nav-list-item {
  margin-left: 50px;
}
.nav-list a {
  color: var(--text-color);
}
.phone-number {
  margin-left: 50px;
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}
.adress-list {
  margin-left: auto;
  align-items: center;
}
.adress-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
ul .current {
  color: var(--accent-color);
  position: relative;
}

.current:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-container {
  display: flex;
}
.head-nav {
  align-items: center;
}
