.join .social-item-link {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item + .social-list-item {
  margin-left: 10px;
}
.social-item-icon {
  fill: currentColor;
}
.social-item-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--transition-time)
      var(--attenuation-function),
    color var(--transition-time) var(--attenuation-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    border-radius: 50%;
  }
}
